
@media screen and (max-width: 1110px){

    /* PARTE DA BARRA DE NAVEGACAO */
    .navbar-logo img{
        width: 150px;
        height: 50px;
        margin-left: -25px !important;
    }

    .navbar-itens {
        display: none !important;
    }

    .btn-abrir-menu {
        display: block !important;
        
    }
    /* ------------------ */

    /* BANNER */

    .filter{
        height: auto !important;
        padding: 0 0 10px;
    }

    .filter-boxes{
        flex-direction: column;
    }

    .filter-boxes .input-box{
        width: 90% !important;
    }

    .filter-boxes .input-box p{
        padding-bottom: 5px;
    }

    .filter-boxes .input-box input{
        width: 90% !important;
    }

    .input-box p {
        font-size: 12px !important;
    }

    .filter-content button {
        width: 90% !important;
    }

    /* -------------- */
}

/* NOSSOS SERVICOS HOME */

.nossos-servicos {
    margin-bottom: 50px;
}

.nossos-servicos .container-nossos-servicos {
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.nossos-servicos .nossos-servicos-text {
    width: 50%;
    padding: 0 40px;
}

.nossos-servicos .nossos-servicos-text h3 {
    font-size: 50px;
}

.nossos-servicos-text strong {
    color: #104EFF;
    font-weight: 500;
}

.nossos-servicos .nossos-servicos-text p {
    margin: 5px 0 10px 0;
    font-size: 15px;
    color: #8b8b8b;
}

.nossos-servicos .nossos-servicos-img img {
    width: 100%;
    height: 100%;
}