

.box-faculdade {
    width: 550px;
    display: flex;
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px dashed #bcbcbd;
    justify-content: space-between;
    align-items: center;
}


.faculdade-nome .faculdade-estrelas{
    display: flex;
    margin-left: 5px;
    margin-top: 8px;
}

.faculdade-estrelas svg {
    color: yellow;
}