

.box-faculdade {
    display: flex;
    cursor: pointer;
    padding: 5px 5px 20px 5px;
    border-bottom: 1px solid #bcbcbd;
    justify-content: space-between;
    align-items: center;
}


.faculdade-nome .faculdade-estrelas{
    display: flex;
    margin-left: 5px;
    margin-top: 4px;
}

.faculdade-nome h1 {
    font-size: 21px;
}

.faculdade-estrelas svg {
    color: yellow;
}