*{
    list-style: none;
}

.list-container{
    width: 100%;
    background-color: #104EFF;
}

.list-content {
  padding-left: 100px;
}


.list-content-title{
  margin-top: 20px;
  margin-bottom: 20px;
}

.titulo-list-cursos{
  margin-top: 13px;
  margin-bottom: 50px;
}

.titulo-list-cursos strong {
  color: #104EFF;
  font-weight: 500;
}



.listar-cursos a{
  display: flex;
  width: min-content;
}