.box-curso{
  display: flex;
  width: 923px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.nome-curso h1 {
  font-size: 21px;
}

.nome-curso strong {
  color: #104EFF;
  font-weight: 500;
}

