.box-curso{
  display: flex;
  width: 923px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #bcbcbd;
}

.nome-curso h1 {
  font-size: 21px;
}

.nome-curso strong {
  color: #104EFF;
  font-weight: 500;
}

