
.navbar {
    display: flex;
    margin: 10px 110px;
    height: 50px;

}
.navbar-logo img{
    width: 153px;
}

.navbar-itens {
    display: flex;
    align-items: center;
    margin-left: 90px;
    gap: 40px;
}

.navbar-itens p {
    color: #104EFF;
    padding-top: 9px;
}

.navbar-itens p::after {
    content: "";
    background-color: #104EFF;
    height: 3px;
    width: 0%;
    margin: 0 auto;
    display: block;
    transition: 0.3s;
}

.navbar-itens p:hover::after {
    width: 100%;
}


/* menu mobile */

.btn-abrir-menu {
    display: none;
    position: absolute;
    top: 20px;
    right: 10px;

}

.btn-abrir-menu svg {
    width: 30px;
    height: 30px;
    color: #104EFF;
}

.menu-mobile{   
    background-color: #104EFF;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    width: 0%;
    overflow: hidden;
    transition: .2s; 
}

.visible {
    width: 70%;
    transition: .5s; 
}

.menu-mobile .navbar-itens-mobile {
    text-align: right;
}

.menu-mobile .navbar-itens-mobile p {
    color: #fff;
    padding: 20px 8%;
    display: block;
}

.menu-mobile .navbar-itens-mobile p:hover {
    background-color: #fff;
    color: #104EFF;
}

.menu-mobile .btn-fechar{
    padding: 20px 5%;
}

.menu-mobile .btn-fechar svg{
    width: 40px;
    height: 40px;
    color: #fff;
}

.overlay-menu {
    background-color: #00000085;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    
}

/* menu mobile ------------------- */