
.container-pag{
    margin-left: 110px;
    margin-top: 20px;
    padding-bottom: 150px;
}

.dividir-pagina{
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.sec{
    width: 50%;
    display: flex;
}
.curso-info h1.title-curso {
    font-size: 40px;
    color: #104EFF;
    margin-bottom: 50px;
    border-bottom: 1px solid;
    width: min-content;
}

.curso-nome {
    margin-top: 30px;
}

.curso-nome strong {
    color: #104EFF;
    font-weight: 600;
}

.curso-nome strong:nth-of-type(1){
    font-weight: 500;
}

.img-curso img {
    width: 255px;
    height: 255px;
    opacity: 60%;
}

.descricao {
    width: 500px;
    padding-top: 15px;
}

.descricao h1 {
    font-size: 18px;
}

.descricao p {
    font-size: 14px;
}

/* PARTE DAS FACULDADES */

section.sec2 {
    width: 50%;
    display: flex;
    margin-left: 50px;
}

.facul-onde{
    margin-bottom: 20px;
}
.facul-onde h1 {
    color: #104EFF;
}

.facul-onde h2 {
    font-size: 15px;
}

.list-faculdades {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.faculdade-nome{
    display: flex;
}

