
.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 519px;
    background-image: url("../../assets/banner-bora.jpg");

    background-repeat: no-repeat;
    background-size: cover; /* Para garantir que a imagem cubra toda a div */
}

.filter {
    margin: 0 auto;
    text-align: center;
}

.filter h1 {
    font-size: 40px;
    color: #fff;
}

.filter-content{
    padding: 10px;
}
