*{
    padding: 0;
    text-decoration: 0;
}

select {
    width: 250px;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #104EFF;
    color: #104EFF;
    margin-top: 25px;
}